<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <a th:href="@{/}">Home</a>
    <h3>Products stored:</h3>
    <ol>
        <li th:each=" product : ${products}">
            <a th:href="@{'/product/'+${product.productId}}" th:text="${product.name}">a product</a> 
            <a th:href="@{'/product/'+${product.productId}+'/delete'}">Delete</a> 
            <a th:href="@{'/product/'+${product.productId}+'/update'}">Edit</a>
        </li>
    </ol>
</body>
</html>